@font-face {
    font-family: "cute Font";
    src: url(cute_2/CuteFont-Regular.otf);
}

:root{
    --bg: linear-gradient(to bottom, #e381f2, #e572f6);
}
body{
    background-image: url("flower.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    min-height: 100vh;
}

h1{
    text-align: center;
    color: white;
    font-family: "cute Font";
    font-size: 70px;
    text-shadow: -1px 2px 4px #eb77a5;
}

.text{
    text-align:center;
    font-size: 50px;
}

.border {
    padding: 50px; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.cat{
    text-align: center;
    transform: translateY(100px);
}


.text{
    color: white;
    transform: translateY(10px);
    font-family: "cute Font";
    font-size: 45px;
}
.text2{
    text-align: center;
    color: white;
    transform: translateY(150px);
    font-family: "cute Font";
    font-size: 45px;
}

button{
    text-align: center;
    background-color:black;
    color:white;
    border-radius: 7px;
    font-family: "cute Font";
    font-size:30px;
    width: 100px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contain{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:relative;
    top: 145px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 36px;
        text-shadow: -1px 1px 2px #eb77a5;
    }

    .text{
        font-size: 28px;
    }

    .text2{
        font-size: 28px;
    }

    .cat{
        height: 150;
    }

    button{
        font-size: 22px;
        width: 60px;
        height: 30px;
        border-radius: 7px;
    }
}


